test.skip("{{test_name}} [{{manifest.skip_marker}}]", () => {
  // TODO: bridge unresolved
  //
  // obligation: {{obligation.obligation_id}}
  // test_kind: {{obligation.test_kind}}
{{#if bridge.candidates}}  //
  // candidates:
{{#each bridge.candidates}}  //   - {{it}}
{{/each}}{{/if}}{{#if bridge.primary_symbol}}  //
  // primary (low confidence): {{bridge.primary_symbol}}
{{/if}}{{#if preconditions}}  //
  // preconditions:
{{#each preconditions}}  //   - {{it}}
{{/each}}{{/if}}});